/* use display flex and postition */

.nav {
  position: absolute;
  right: 0;
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: white;
}

.nav-Link {
  padding: 5px;
  cursor: pointer;
}

/* HOW ODES IT LOOK */
