@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import '@grapecity/wijmo.styles/themes/wijmo.theme.material.css'; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.word-suggestion-dropdown-item {
  transition: background 0.3s;
  cursor: pointer;
  padding: 4px 8px;
}
.word-suggestion-dropdown-item:hover {
  background: rgb(128, 174, 190);
  display: block;
}
